<!DOCTYPE html>
<html lang="en" style="overflow-x:auto;min-width:1150px;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo_badmin.png">
    <title>ukm-badminton-frontend</title>
  </head>
  <body >
    <noscript>
      <strong>We're sorry but ukm-badminton-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" ></div>
    <!-- built files will be auto injected -->
  </body>
</html>
