<template>
  <v-layout justify-center style="padding: 40px;">
    <v-flex  xs11 sm8 md6 lg4 style="border-radius:20px;padding:30px;text-align:center;background-color:rgba(1,1,1,0.95);">
      <img :src="require(`@/assets/chevron-up.png`)"/>
      <h1 style="color:orange;margin:20px 0;">UPDATE EVENT</h1>
       <img id="up-image" 
        :src="img == null?(url+'/image/'+event.img_src):require('@/assets/no-img.jpg')"
        style="height:200px;"/>
        <p style="color:white;">Max 8 MB</p>
        <input required style="vertical-align:baseline;text-align:center;color:white;width:185px;" class="img-up" type="file" @change="onFileChange" accept="image/jpeg, image/png"/>
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Event Name"
        v-model="event.name"
        :rules="[rules.required]"
      />
      <v-overflow-btn
        :items="$store.state.auth.users"
        :label="'Choose Event Leader'"
        v-model="event.leader"
        editable
        solo
        clearable
        :return-object="true"
        item-text="fullname"
        color="white"
        dark
      ></v-overflow-btn>
      <v-overflow-btn
        :items="$store.state.auth.users"
        :label="'Choose Contact Person'"
        v-model="event.contact"
        editable
        solo
        clearable
        :return-object="true"
        color="white"
        dark
        item-text="fullname"
      ></v-overflow-btn>
      <v-text-field
        color="white"
        dark
        type="date"
        class="inputer"
        label="Start Event"
        v-model="event.start"
        :rules="[rules.required]"
      />
      <v-text-field
        color="white"
        dark
        type="date"
        class="inputer"
        label="Event ended"
        v-model="event.last"
        :rules="[rules.required]"
      />
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Location"
        v-model="event.place"
        :rules="[rules.required]"
      />
      <v-textarea
        v-model="event.description"
        auto-grow
        dark
        color="white"
        label="Description"
        rows="1"
      ></v-textarea>
      <v-layout row justify-center>
          <v-flex xs5>
          <v-btn round @click="createEvent" color="orange" style="width:100%;margin:0;" dark>CREATE</v-btn>
          </v-flex>
          <v-flex xs1/>
          <v-flex xs5>
          <v-btn @click="back" round color="red" style="width:100%;margin:0;" dark>CANCEL</v-btn>
          </v-flex>
          </v-layout>
    </v-flex>
  </v-layout>
</template>

<style>
</style>

<script>
import {API_URL} from "@/common/config";
import moment from 'moment'
import { POST_EVENT } from "@/store/actions.type";
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      event: null,
      img: null,
      imgData: "",
      url: API_URL,
      rules: {
        email: value =>
          (value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        notSame(value, val2) {
          return value == val2 ? null : "Password not match!";
        },
        min: v => v.length >= 6 || "at least 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  methods: {
    clear() {
      this.img = null;
      this.imgData = "";
    },
    back() {
      this.clear();
      this.$router.go(-1);
    },
    createEvent() {
      this.$store
        .dispatch(POST_EVENT, {
          id : this.event.id,
          location: this.event.place,
          description: this.event.description,
          start: this.event.start,
          last: this.event.last,
          contact: this.event.contact,
          leader: this.event.leader,
          name: this.event.name,
          img : this.img,
        })
        .then(() => {
          this.$router.push("/event");
        });
    },
    onFileChange(event) {
      this.img = event.target.files[0];
      if (8192000000 < this.img.size) {
        this.flash.danger("Image Too Big! 8MB max!");
        return;
      }
      if (this.img && this.img.type.indexOf("image") !== -1) {
        var reader = new FileReader();
        reader.onload = function(e) {
          this.imageData = e.target.result;
          var element = document.getElementById("up-image");
          element.src = this.imageData;
        };
        reader.readAsDataURL(this.img);
      } else {
        event.target.value = "";
        this.flash.danger(
          this.language.getLanguage() == "eng"
            ? "File must be Image!"
            : "dokumen harus berupa Gambar!"
        );
      }
    },
    dateConverter(date){
      return moment(date).format('dddd, Do MMMM YYYY');
    },
  },
  watch:{
    "events"(vals){
      vals.forEach((val,idx) => {
        if(val.id == this.$route.params.id){
          this.event = val;
          return;
        }
      });
    },
    "$route.params.id"(vals){
      this.events.forEach((val,idx) => {
        if(val.id == vals){
          this.event = val;
          return;
        }
      });
    }
  },
  beforeMount(){
    this.$nextTick(() => {
      this.events.forEach((val,idx) => {
        if(val.id == this.$route.params.id){
          this.event = val;
          return;
        }
      });
    });
  },
  computed: {
    ...mapState(["flash"]),
    ...mapGetters(['currentUser','events']),
  },
};
</script>
