<template>
  <v-flex  style="padding: 40px 20px;">
    <v-card class="text-xs-center" style="border-radius:20px;padding:20px;">
    <v-btn v-if="currentUser.adminLevel == 0" :to="('/event-update/'+event.id)" style="width:100%;pading:0 20px;border-radius:20px;letter-spacing:10px" color="primary">UPDATE EVENT</v-btn>
      <v-layout row wrap fluid>
        <v-flex xs12 style="padding:10px;">
          <v-card style="border-radius:10px;" class="hover">
          <v-img
          style="height:300px"
            :src="event.img_src != null?(url+'/image/'+event.img_src):require('@/assets/no-img.jpg')"
          ></v-img>
          <v-card-title primary-title style="text-align:left">
            <div style="width:100%;">
              <h3 class="headline">{{event.name}}</h3>
              <hr style="margin-bottom:20px">
              <p style="white-space: pre-line;">{{event.description}}</p>
              <div>Start Date : {{dateConverter(event.start)}}</div>
              <div>End Date : {{dateConverter(event.last)}}</div>
              <div>Event Leader : <router-link :to="'/people/'+event.leader.id">{{event.leader.fullname}}</router-link ></div>
              <div>Contact Person : <router-link :to="'/people/'+event.contact.id">{{event.contact.fullname}} </router-link> </div>
            </div>
          </v-card-title>
        </v-card>
        </v-flex>
      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
import { API_URL } from "@/common/config";
import moment from 'moment'
import { mapGetters } from 'vuex';
export default {
  data(){
    return{
      event: null,
      url:API_URL,
    }
  },
  computed:{
    ...mapGetters(['events','currentUser']),
    
  },
  methods:{
    dateConverter(date){
      return moment(date).format('dddd, Do MMMM YYYY');
    },
  },
  watch:{
    "events"(vals){
      vals.forEach((val,idx) => {
        if(val.id == this.$route.params.id){
          this.event = val;
          return;
        }
      });
    },
    "$route.params.id"(vals){
      this.events.forEach((val,idx) => {
        if(val.id == vals){
          this.event = val;
          return;
        }
      });
    }
  },
  beforeMount(){
    this.$nextTick(() => {
      this.events.forEach((val,idx) => {
        if(val.id == this.$route.params.id){
          this.event = val;
          return;
        }
      });
    });
  },
}
</script>

<style>
.hover:hover{
  transform: scale(1.01);
  cursor: pointer;
}
</style>
