<template>
  <v-layout justify-center style="padding: 40px;">
    <v-flex xs11 sm8 md6 lg4 style="border-radius:20px;padding:30px;text-align:center;background-color:rgba(1,1,1,0.95);">
      <img :src="require(`@/assets/chevron-up.png`)"/>
      <h1 style="color:orange;margin:20px 0;">CREATE EVENT</h1>
       <img id="up-image" :src="require('@/assets/no-img.jpg')" style="height:200px;"/>
        <h2 style="color:white;">
          choose Event picture!
        </h2>
        <p style="color:white;">Max 8 MB</p>
        <input required style="vertical-align:baseline;text-align:center;color:white;width:185px;" class="img-up" type="file" @change="onFileChange" accept="image/jpeg, image/png"/>
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Event Name"
        v-model="name"
        :rules="[rules.required]"
      />
      <v-overflow-btn
        :items="$store.state.auth.users"
        :label="'Choose Event Leader'"
        v-model="leader"
        editable
        solo
        clearable
        :return-object="true"
        item-text="fullname"
        color="white"
        dark
      ></v-overflow-btn>
      <v-overflow-btn
        :items="$store.state.auth.users"
        :label="'Choose Contact Person'"
        v-model="contact"
        editable
        solo
        clearable
        :return-object="true"
        color="white"
        dark
        item-text="fullname"
      ></v-overflow-btn>
      <v-text-field
        color="white"
        dark
        type="date"
        class="inputer"
        label="Start Event"
        v-model="start"
        :rules="[rules.required]"
      />
      <v-text-field
        color="white"
        dark
        type="date"
        class="inputer"
        label="Event ended"
        v-model="end"
        :rules="[rules.required]"
      />
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Location"
        v-model="location"
        :rules="[rules.required]"
      />
      <v-textarea
        v-model="description"
        auto-grow
        dark
        color="white"
        label="Description"
        rows="1"
      ></v-textarea>
      <v-layout row justify-center>
          <v-flex xs5>
          <v-btn round @click="createEvent" color="orange" style="width:100%;margin:0;" dark>CREATE</v-btn>
          </v-flex>
          <v-flex xs1/>
          <v-flex xs5>
          <v-btn @click="back" round color="red" style="width:100%;margin:0;" dark>CANCEL</v-btn>
          </v-flex>
          </v-layout>
    </v-flex>
  </v-layout>
</template>

<style>
</style>

<script>
import { POST_EVENT } from "@/store/actions.type";
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      location: "",
      description: "",
      start: "",
      end: "",
      contact: null,
      leader: null,
      name: "",
      img: null,
      imgData: "",
      rules: {
        email: value =>
          (value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        notSame(value, val2) {
          return value == val2 ? null : "Password not match!";
        },
        min: v => v.length >= 6 || "at least 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  dependencies: ["api"],
  methods: {
    clear() {
      this.location= "";
      this.description= "";
      this.start= "";
      this.end= "";
      this.contact= null;
      this.leader= null;
      this.name= "";
      this.img = null;
      this.imgData = "";
    },
    back() {
      this.clear();
      this.$router.go(-1);
    },
    createEvent() {
      this.$store
        .dispatch(POST_EVENT, {
          location: this.location,
          description: this.description,
          start: this.start,
          last: this.end,
          contact: this.contact,
          leader: this.leader,
          name: this.name,
          img : this.img,
        })
        .then(() => {
          this.$router.push("/event");
        });
    },
    onFileChange(event) {
      this.img = event.target.files[0];
      if (8192000000 < this.img.size) {
        this.flash.danger("Image Too Big! 8MB max!");
        return;
      }
      if (this.img && this.img.type.indexOf("image") !== -1) {
        var reader = new FileReader();
        reader.onload = function(e) {
          this.imageData = e.target.result;
          var element = document.getElementById("up-image");
          element.src = this.imageData;
        };
        reader.readAsDataURL(this.img);
      } else {
        event.target.value = "";
        this.flash.danger(
          this.language.getLanguage() == "eng"
            ? "File must be Image!"
            : "dokumen harus berupa Gambar!"
        );
      }
    }
  },
  computed: {
    ...mapState(["flash"]),
    ...mapGetters(['currentUser']),
  },
  created(){
    this.$nextTick(()=>{
      if(this.currentUser != null && this.currentUser.adminLevel ==1){
        this.$router.push('event');
      }
    })
  }
};
</script>
