<template>
  <v-flex  style="padding: 40px 20px;">
    <v-card class="text-xs-center" style="border-radius:20px;padding:20px;">
    <v-btn v-if="currentUser.adminLevel == 0" to="event-create" style="width:100%;pading:0 20px;border-radius:20px;letter-spacing:10px" color="primary">CREATE EVENT</v-btn>
      <v-layout row wrap fluid>
        <v-flex xs12 v-for="(idx) in 5" :key="idx" style="padding:10px;">
          <v-card v-if="idx+(page-1)*5 - 1  < events.length" style="border-radius:10px;" :to="'event/'+events[idx+(page-1)*5 - 1 ].id" class="hover">
          <v-img
          style="height:300px"
            :src="events[idx+(page-1)*5 - 1 ].img_src != null?(url+'/image/'+events[idx+(page-1)*5 - 1 ].img_src):require('@/assets/no-img.jpg')"
          ></v-img>
          <v-card-title primary-title style="text-align:left">
            <div style="width:100%;">
              <h3 class="headline">{{events[idx+(page-1)*5 - 1 ].name}}</h3>
              <hr style="margin-bottom:20px">
              <p style="white-space: pre-line;">{{events[idx+(page-1)*5 - 1 ].description}}</p>
              <div>Start Date : {{dateConverter(events[idx+(page-1)*5 - 1 ].start)}}</div>
              <div>End Date : {{dateConverter(events[idx+(page-1)*5 - 1 ].last)}}</div>
              <div>Event Leader : {{events[idx+(page-1)*5 - 1 ].leader.fullname}}</div>
              <div>Contact Person : {{events[idx+(page-1)*5 - 1 ].contact.fullname}}</div>
            </div>
          </v-card-title>
        </v-card>
        </v-flex>
      </v-layout>
      <v-pagination
        v-model="page"
        :length="visible"
        :total-visible="5"
        color="black"
        dark
      ></v-pagination>
    </v-card>
  </v-flex>
</template>

<script>
import { API_URL } from "@/common/config";
import moment from 'moment'
import { ADD_EVENT } from '@/store/actions.type';
import { mapGetters } from 'vuex';
export default {
  data(){
    return{
      page : 1,
      url:API_URL,
      idx: 1,
    }
  },
  computed:{
    ...mapGetters(['events','currentUser']),
    visible(){
      return parseInt((this.events.length+4)/5);
    },
  },
  methods:{
    toggle(id){
      this.$store.dispatch(ADD_EVENT,{id:id});
    },
    dateConverter(date){
      return moment(date).format('dddd, Do MMMM YYYY');
    }
  }
}
</script>

<style>
.hover:hover{
  transform: scale(1.01);
  cursor: pointer;
}
</style>
