<template>
  <div style="width:100%;height:100%;">
    <v-parallax
      :height="height"
      :src="require('@/assets/intro.jpg')"
    >
      <v-layout align-center justify-center>
        <div>
        <div style="padding:20px 100px;background-color: rgba(0,0,0,0.65);border: solid 1px white;text-align:center;font-size:7em;font-weight:700">
          <div style="letter-spacing:3px">BADMINTON</div>
          <hr style="margin-top:-20px;margin-bottom:10px;">
          <div style="letter-spacing:4.5px;font-size:25px">UNIVERSITAS KATOLIK PARAHYANGAN</div>
        </div>
        <v-btn @click="$vuetify.goTo('#event-preview', {
          duration: 750,
          offset: -64,
          easing: 'easeInOutCubic',
        })" 
          style="padding:6px;height:40px;width:100%;margin:0;font-size:20px;letter-spacing:7.5px;font-weight:700;">
          EVENT PREVIEW
        </v-btn>
        </div>
      </v-layout>
    </v-parallax>
    <carousel id="event-preview"  :style="`height:${height}px;width:100%;`" :per-page="1" :autoplayTimeout="7500" :navigate-to="localvar" loop autoplay :mouse-drag="false">
      <slide
        v-for="i in size"
        :key="i"
        data-index="0"
        class="slider"
        >
        <div class ="background-container" :style="'background-image: url(' + url+'/image/'+events[i-1].img_src + ' );'">
          <div style="width:100%;">
            <div style="
              letter-spacing:7.5px;
              margin-bottom:10px;
              margin-left:10px;
              display:inline-block;
              font-size:1.75em;
              color:rgba(255,255,255,0.99);
              border-left: solid white 3px;
              padding-left:15px;
            ">LATEST EVENT</div>
            <div class="banner-text">
                <h3 style="letter-spacing:3px">{{events[i-1].name}}</h3>
                <hr>
                <p style="letter-spacing:0.1px;font-size:16px">{{events[i-1].description}}</p>
            </div>
          </div>
        </div>
      </slide>
    </carousel>
    <div style="background-color:white;padding-top:70px;text-align:center;height:300px">
      <div style="margin-bottom:20px;width:100%;letter-spacing:0px;font-size:40px; font-weight:300">Wanna Play Together and Learn Something new?</div>
      <v-btn style="width:150px;letter-spacing:2px" color="primary" dark>JOIN US</v-btn>
    </div>
    <v-layout justify-center align-center style="background-color: rgba(60,40,50,0.55)">
      <v-container style="text-align:center;margin-top:100px;">
      <img height="150" :src="require('@/assets/achievment.png')"/>
      <div style="color:white;margin-bottom:100px;width:100%;letter-spacing:0px;font-size:40px; font-weight:400">ACHIEVMENT</div>
      <v-container style="margin-bottom:100px;">
        <div style="width:100%;text-align:left;padding-left:30px;border-left:solid white 3px;color:white;margin-bottom:30px;letter-spacing:0px;font-size:30px; font-weight:300;text-transform:uppercase">Juara 3 Tarumanagara Sports and Arts Competitions 17/18</div>
        <div style="width:100%;text-align:left;padding-left:30px;border-left:solid white 3px;color:white;margin-bottom:30px;letter-spacing:0px;font-size:30px; font-weight:300;text-transform:uppercase">Juara 3 Paragon by Parahyangan Project</div>
        <div style="width:100%;text-align:left;padding-left:30px;border-left:solid white 3px;color:white;margin-bottom:30px;letter-spacing:0px;font-size:30px; font-weight:300;text-transform:uppercase">Juara 1 Tarumanagara Sports and Arts Competitions 18/19</div>
      </v-container>
      </v-container>
    </v-layout>
    <div style="
      width:100%;
      text-align:center;
      justify-content:center;
      color:white;
      background-color : rgba(1,1,1,0.95);
      ">
      <v-layout justify-center class="contact-us">
        <v-flex xs3>
          <h2 class="contact-header">CONTACT US</h2>
          <p>
            Please feel free to contact us if you need any further information.
          </p>
          <div>
          <p> 
          <img :src="require('@/assets/line.png')" style="vertical-align:middle;width:18px;height:18px"/>
            Regenrenalds
          </p>
          <p>
            <v-icon size="16px" color="white">phone</v-icon> 087822557038 
          </p>
          <p>
            <v-icon size="16px" color="white">email</v-icon> ukm.bultang.unpar@gmail.com
          </p>
          </div>
        </v-flex>
        <v-flex xs1/>
        <v-flex xs3>
          <h2 class="contact-header">SCHEDULE</h2>
          <p><v-icon color="white" style="vertical-align:middle;">today</v-icon> Monday, Wednesday, and Friday</p>
          <p><v-icon color="white" style="vertical-align:middle;">access_time</v-icon> 18.00 - 21.00</p>
          <p><v-icon color="white" style="vertical-align:middle;">place</v-icon> Gor Cisitu</p>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import { API_URL } from "@/common/config";
import { Carousel, Slide } from "vue-carousel";
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return { 
      localvar: 0,
      url:API_URL,
    };
  },
  components: {
    Carousel,
    Slide
  },
  computed: {
    ...mapState(["flash"]),
    ...mapGetters(['events']),
    height(){
      return window.innerHeight-64;
    },
    size(){
      return this.events == null ?0:this.events.length > 5?5:this.events.length
    }
  }
};
</script>

<style>
.banner-text {
  top: 0;
  color: white;
  width: 60%;
  background-color: rgba(1, 1, 1, 0.8);
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
}
.banner-text p {
  margin-top: 10px;
  margin-bottom: 0;
}
.banner-text > h3 {
  font-size: 1.75rem;
  text-align: left;
  font-weight: 400;
  margin-bottom: 10px;
}
.carosel {
  border: 1px solid;
  border-color: grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 480px;
}
.VueCarousel-pagination {
  position: absolute;
  bottom: 20px;
  margin: 0;
}
.inputer {
  margin: 0;
}
.background-container {
  height: 100%;
  position: relative;
  padding:25px;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  padding-bottom: 80px !important;
  align-items: flex-end;
}
.VueCarousel-wrapper, .slide,.VueCarousel-inner{
  height:100% !important;
}
.contact-us p{
  font-size: 14px;
  letter-spacing: 0.5px;
}
.contact-us p {
  font-size: 13px;
  color: #ccc;
  text-align: left;
}
.contact-us h2 {
  margin: 20px 0;
  text-align: left;
}
.contact-us ul li {
  padding: 3px;
  text-align: left;
}
.contact-us ul li a {
  text-decoration: none;
  color: #ccc;
}
.contact-us ul li a:hover {
  color: white;
}
.contact-us ul {
  list-style: none;
  padding: 0;
}
.contact-us{
  padding: 30px 20px 60px 20px;
}
.contact-header{
  letter-spacing: 2px;
}
</style>
