<template>
  <v-container >
    <v-layout justify-center>
      <v-flex xs12 md6 style="background-color:white;border-radius:30px;padding:40px 60px;">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <router-link :to="{ name: 'register' }">
            Need an account?
          </router-link>
        </p>
          <v-text-field
          v-model="username"
          :rules="[rules.required]"
          label="E-mail or Username"
        ></v-text-field>

        <v-text-field
          v-model="password"
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :rules="[rules.min ,rules.required]"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          label="Password"
          hint="At least 6 characters"
          counter
          @click:append="show1 = !show1"
        ></v-text-field>
        <v-btn color="primary" @click="login" style="margin:0 20px 0 0;">
          Sign in
        </v-btn>
        <router-link to="/forget-password" >forget password?</router-link>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import { LOGIN } from "@/store/actions.type";
export default {
  data() {
    return {
      username: null,
      show1: false,
      password: null,
      rules: {
        email: value =>
          (value && value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        min: v => (v && v.length >= 6) || "Min 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  methods: {
    login() {
      this.$store
        .dispatch(LOGIN, { username: this.username, password: this.password })
        .then(() => this.$router.push("/"));
    }
  },
  computed: {}
};
</script>
