<template>
  <v-layout justify-center style="padding: 40px;">
    <v-flex xs11 style="border-radius:20px;padding:30px;text-align:center;background-color:rgba(1,1,1,0.95);">
      <h1 style="font-weight:600;color:orange;margin:20px 20px; letter-spacing:20px;text-align:left">PROFILE</h1>
      <hr>
      <v-layout row style="margin-top:30px;">
        <v-flex xs4>
          <img id="up-image" :src="img == null?url+'/image/'+currentUser.img_src:require('@/assets/no-img.jpg')" style="width:200px;height:200px;border-radius:100px;object-fit:cover"/>
          <p style="color:white;">Max 8 MB</p>
          <input style="vertical-align:baseline;text-align:center;color:white;width:185px;" class="img-up" type="file" @change="onFileChange" accept="image/jpeg, image/png"/>
        </v-flex>
        <v-flex xs8>

          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Full Name"
            readonly
            v-model="currentUser.fullname"
          />
          <v-overflow-btn
            :items="$store.state.jurusan"
            :label="'Pilih Jurusan'"
            v-model="currentUser.jurusan"
            editable
            solo
            clearable
            color="white"
            dark
            item-text="name"
          ></v-overflow-btn>
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Username"
            v-model="currentUser.username"
            readonly
          />
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Email"
            readonly
            v-model="currentUser.email"
          />
          <v-textarea
            v-model="currentUser.bio"
            auto-grow
            dark
            color="white"
            label="Bio"
            rows="1"
          ></v-textarea>
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Angkatan"
            v-model="currentUser.angkatan"
            hint="contoh: 2016"
          />
          <v-text-field
            color="white"
            dark
            v-model="password"
            :append-icon="show1 ? 'visibility_off' : 'visibility'"
            :rules="[rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>
          <v-text-field
            color="white"
            dark
            v-model="c_password"
            :append-icon="show2 ? 'visibility_off' : 'visibility'"
            :rules="[rules.notSame(c_password,password)]"
            :type="show2 ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            hint="At least 6 characters"
            counter
            @click:append="show2 = !show2"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row justify-center style="margin-top:20px;">
          <v-flex xs12>
          <v-btn round @click="register" color="orange" style="width:100%;margin:0;" dark>UPDATE</v-btn>
          </v-flex>
          </v-layout>
    </v-flex>
  </v-layout>
</template>

<style>
</style>

<script>
import { API_URL } from "@/common/config";
import { UPDATE_USER } from "@/store/actions.type";
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      url: API_URL,
      password: "",
      img: null,
      c_password: "",
      show1: false,
      show2: false,
      imgData: "",
      rules: {
        email: value =>
          (value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        notSame(value, val2) {
          return value == val2 ? false : "Password not match!";
        },
        min: v => v.length >= 6 || "at least 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  methods: {
    clear() {
      this.password = "";
      this.img = null;
      this.imgData = "";
      this.c_password = "";
    },
    back() {
      this.clear();
      this.$router.go(-1);
    },
    register() {
      this.$store
        .dispatch(UPDATE_USER, {
          fullname: this.currentUser.fullname,
          username: this.currentUser.username,
          password: this.password,
          email: this.currentUser.email,
          img: this.img,
          bio: this.currentUser.bio,
          jurusan: this.currentUser.jurusan,
          angkatan: this.currentUser.angkatan,
          password_confirmation: this.c_password
        })
    },
    onFileChange(event) {
      this.img = event.target.files[0];
      if (8192000000 < this.img.size) {
        this.flash.danger("Image Too Big! 8MB max!");
        return;
      }
      if (this.img && this.img.type.indexOf("image") !== -1) {
        var reader = new FileReader();
        reader.onload = function(e) {
          this.imageData = e.target.result;
          var element = document.getElementById("up-image");
          element.src = this.imageData;
        };
        reader.readAsDataURL(this.img);
      } else {
        event.target.value = "";
        this.flash.danger(
          this.language.getLanguage() == "eng"
            ? "File must be Image!"
            : "dokumen harus berupa Gambar!"
        );
      }
    }
  },
  computed: {
    ...mapState(["flash"]),
    ...mapGetters(['isAuthenticated','currentUser']),
  }
};
</script>
