<template>
  <v-layout justify-center style="padding: 40px;">
    <v-flex xs11 sm8 md6 lg4 style="border-radius:20px;padding:30px;text-align:center;background-color:rgba(1,1,1,0.95);">
      <img :src="require(`@/assets/chevron-up.png`)"/>
      <h1 style="color:orange;margin:20px 0;">Register Here</h1>
       <img id="up-image" :src="require('@/assets/no-img.jpg')" style="width:200px;height:200px;border-radius:100px;object-fit:cover"/>
        <h2 style="color:white;">
          choose profile picture!
        </h2>
        <p style="color:white;">Max 8 MB</p>
        <input style="vertical-align:baseline;text-align:center;color:white;width:185px;" class="img-up" type="file" @change="onFileChange" accept="image/jpeg, image/png"/>
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Full Name"
        v-model="fullname"
        :rules="[rules.required]"
      />
      <v-overflow-btn
        :items="$store.state.jurusan"
        :label="'Pilih Jurusan'"
        v-model="jurusan"
        editable
        solo
        clearable
        color="white"
        dark
        item-text="name"
      ></v-overflow-btn>
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Username"
        v-model="username"
        hint="max 30 characters!"
        :rules="[rules.required]"
      />
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Email"
        v-model="email"
        :rules="[rules.required, rules.email]"
      />
      <v-textarea
        v-model="bio"
        auto-grow
        dark
        color="white"
        label="Bio"
        rows="1"
      ></v-textarea>
      <v-text-field
        color="white"
        dark
        class="inputer"
        label="Angkatan"
        v-model="angkatan"
        hint="contoh: 2016"
      />
      <v-text-field
        color="white"
        dark
        v-model="password"
        :append-icon="show1 ? 'visibility_off' : 'visibility'"
        :rules="[rules.min ,rules.required]"
        :type="show1 ? 'text' : 'password'"
        name="input-10-1"
        label="Password"
        counter
        @click:append="show1 = !show1"
      ></v-text-field>
      <v-text-field
        color="white"
        dark
        v-model="c_password"
        :append-icon="show2 ? 'visibility_off' : 'visibility'"
        :rules="[rules.required, rules.notSame(c_password,password)]"
        :type="show2 ? 'text' : 'password'"
        name="input-10-1"
        label="Password"
        hint="At least 6 characters"
        counter
        @click:append="show2 = !show2"
      ></v-text-field>
      <v-layout row justify-center>
          <v-flex xs5>
          <v-btn round @click="register" color="orange" style="width:100%;margin:0;" dark>Register</v-btn>
          </v-flex>
          <v-flex xs1/>
          <v-flex xs5>
          <v-btn @click="back" round color="red" style="width:100%;margin:0;" dark>Cancel</v-btn>
          </v-flex>
          </v-layout>
    </v-flex>
  </v-layout>
</template>

<style>
</style>

<script>
import { REGISTER } from "@/store/actions.type";
import { mapState } from "vuex";
export default {
  data() {
    return {
      fullname: "",
      username: "",
      password: "",
      email: "",
      img: null,
      bio: null,
      angkatan: null,
      c_password: "",
      angkatan: null,
      show1: false,
      show2: false,
      imgData: "",
      jurusan: null,
      rules: {
        email: value =>
          (value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        notSame(value, val2) {
          return value == val2 ? null : "Password not match!";
        },
        min: v => v.length >= 6 || "at least 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  dependencies: ["api"],
  methods: {
    clear() {
      this.fullname = "";
      this.username = "";
      this.password = "";
      this.email = "";
      this.img = null;
      this.angkatan = null;
      this.jurusan = null;
      this.imgData = "";
      this.c_password = "";
      this.bio = null;
      this.angkatan = null;
    },
    back() {
      this.clear();
      this.$router.go(-1);
    },
    register() {
      this.$store
        .dispatch(REGISTER, {
          fullname: this.fullname,
          username: this.username,
          password: this.password,
          email: this.email,
          img: this.img,
          bio: this.bio,
          jurusan: this.jurusan,
          angkatan: this.angkatan,
          password_confirmation: this.c_password
        })
        .then(() => {
          this.$router.push("/login");
        });
    },
    onFileChange(event) {
      this.img = event.target.files[0];
      if (8192000000 < this.img.size) {
        this.flash.danger("Image Too Big! 8MB max!");
        return;
      }
      if (this.img && this.img.type.indexOf("image") !== -1) {
        var reader = new FileReader();
        reader.onload = function(e) {
          this.imageData = e.target.result;
          var element = document.getElementById("up-image");
          element.src = this.imageData;
        };
        reader.readAsDataURL(this.img);
      } else {
        event.target.value = "";
        this.flash.danger(
          this.language.getLanguage() == "eng"
            ? "File must be Image!"
            : "dokumen harus berupa Gambar!"
        );
      }
    }
  },
  computed: {
    ...mapState(["flash"])
  }
};
</script>
