<template>
  <v-flex  style="padding: 40px 20px;">
    <v-card class="text-xs-center" style="border-radius:20px;">
      <h1 style="text-align:left;padding-top:20px;letter-spacing:5px;margin: 0 0 10px 40px;">PEOPLES</h1>
      <hr>
      <v-layout row wrap fluid style="padding:30px;">
        <v-flex xs3 v-for="(idx) in 4" :key="idx" style="padding:10px;">
          <v-card v-if="idx+(page-1)*4 - 1  < users.length" style="border-radius:10px;height:100%" :to="'people/'+users[idx+(page-1)*4 - 1 ].id" class="hover">
          <v-img style="height:200px;"
            :src="users[idx+(page-1)*4 - 1 ].img_src != null?(url+'/image/'+users[idx+(page-1)*4 - 1 ].img_src):require('@/assets/no-img.jpg')"
          ></v-img>
          <v-card-title primary-title style="text-align:left">
            <div style="width:100%;">
              <h3 class="headline">{{users[idx+(page-1)*4 - 1 ].fullname}}</h3>
              <hr style="margin-bottom:20px">
              <div v-if="users[idx+(page-1)*4 - 1 ].bio">{{users[idx+(page-1)*4 - 1 ].bio}}</div>
              <div style="width:100%;text-align:right;" >
                <v-btn v-if="users[idx+(page-1)*4 - 1 ].adminLevel==0" dark style="border-radius:50px;" color="green">
                  ADMIN
                </v-btn>
              </div>
            </div>
          </v-card-title>
        </v-card>
        </v-flex>
      </v-layout>
      <v-pagination
        v-model="page"
        :length="visible"
        :total-visible="7"
        color="black"
        dark
      ></v-pagination>
    </v-card>
  </v-flex>
</template>

<script>
import { API_URL } from "@/common/config";
import { TOGGLE_ADMIN } from '@/store/actions.type';
import { mapGetters } from 'vuex';
export default {
  data(){
    return{
      page : 1,
      idx: 1,
      url: API_URL,
    }
  },
  computed:{
    ...mapGetters(['users','currentUser']),
    visible(){
      return parseInt((this.users.length+3)/4);
    },
  },
}
</script>

<style>
.hover:hover{
  transform: scale(1.01);
  cursor: pointer;
}
</style>
