<template>
  <v-layout justify-center style="padding: 40px;" v-if="user != null">}}
    <v-flex xs11 style="border-radius:20px;padding:30px;text-align:center;background-color:rgba(1,1,1,0.95);">
      <div style="position:relative;width:100%;height:80px">
      <h1 style="left:0;position:absolute;display:inline-block;font-weight:600;color:orange;margin:20px 20px; letter-spacing:20px;text-align:left">USER PROFILE</h1>
      <div style="right:0;position:absolute;">
      <v-btn v-if="user.adminLevel==0" dark style="letter-spacing:2px;border-radius:50px;" color="green">
        ADMIN
      </v-btn>
      <template v-if="currentUser.adminLevel == 0">
      <v-btn @click="toggle" v-if="user.adminLevel==0" dark style="border-radius:50px;" color="red">
        Drop Admin
      </v-btn>
      <v-btn v-else dark style="border-radius:50px;" @click="toggle" color="primary">
        Make Admin
      </v-btn>
      </template>
      </div>
      </div>
      <hr>
      <v-layout row style="margin-top:30px;">
        <v-flex xs4>
          <img id="up-image" :src="user.img_src != null && user.img_src !='profile_images/no-img.jpg'?url+'/image/'+user.img_src:require('@/assets/no-img.jpg')" style="width:200px;height:200px;border-radius:100px;object-fit:cover"/>
        </v-flex>
        <v-flex xs8>

          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Full Name"
            readonly
            v-model="user.fullname"
          />
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Jurusan"
            readonly
            v-model="user.jurusan"
          />
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Username"
            v-model="user.username"
            readonly
          />
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Email"
            readonly
            v-model="user.email"
          />
          <v-text-field
            color="white"
            dark
            class="inputer"
            label="Angkatan"
            v-model="user.angkatan"
          />
          <v-textarea
            v-model="user.bio"
            auto-grow
            dark
            readonly
            color="white"
            label="Bio"
            rows="1"
          ></v-textarea>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<style>
</style>

<script>
import { API_URL } from "@/common/config";
import { TOGGLE_ADMIN } from "@/store/actions.type";
import { mapState, mapGetters } from "vuex";
export default {
  data() {
    return {
      user: null,
      url: API_URL,
    };
  },
  computed: {
    ...mapState(["flash"]),
    ...mapGetters(['isAuthenticated','currentUser','users']),
    test(){
      var id = this.$route.params.id;
      this.users.forEach((val) => {
        if(val.id == id){
          this.user=val;
        }
      })
    },
  },
  watch:{
    "$route.path.params"(vals){
      var id = vals.id;
      this.users.forEach((val) => {
        if(val.id == id){
          this.user=val;
        }
      })
    },
    "users"(vals){
      var id = this.$route.params.id;
      vals.forEach((val) => {
        if(val.id == id){
          this.user=val;
        }
      });
    }
  },

  methods:{
    toggle(){
      this.$store.dispatch(TOGGLE_ADMIN,{id:this.$route.params.id});
    }
  },
  mounted(){
    this.$nextTick(() => {
      var id = this.$route.params.id;
      this.users.forEach((val) => {
        if(val.id == id){
          this.user=val;
        }
      });
    })
  }
};
</script>
