<template>
  <v-container style="background-color:white;border-radius:20px;">
    <v-form class="login-form" >
      <label style="display:flex; font-size:19px"><b>Ganti kata sandi</b></label>
      <v-text-field
        v-model="password"
        :append-icon="show1 ? 'visibility_off' : 'visibility'"
        :rules="[rules.min ,rules.required]"
        :type="show1 ? 'text' : 'password'"
        name="input-10-1"
        label="Password"
        counter
        @click:append="show1 = !show1"
      ></v-text-field>
      <v-text-field
        v-model="password_confirmation"
        :append-icon="show2 ? 'visibility_off' : 'visibility'"
        :rules="[rules.required, rules.notSame(password_confirmation,password)]"
        :type="show2 ? 'text' : 'password'"
        name="input-10-1"
        label="Password"
        hint="At least 6 characters"
        counter
        @click:append="show2 = !show2"
      ></v-text-field>
      <v-btn @click="attemptReset" color="primary" class="pull-right">CHANGE</v-btn>
      <v-btn @click="$router.go(-1)" color="secondary" class="pull-right">BACK</v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { RESET_PASSWORD } from '@/store/actions.type';
import { mapState, mapGetters } from "vuex";
export default {
  name: "login-page",
  dependencies: ["api", "service"], // add the dependcies injection
  data() {
    return {
      msg: "Ini buat login",
      loading: null,
      password: null,
      password_confirmation: null,
      show1: false,
      show2: false,
      rules: {
        required: value => !!value || "Required.",
        notSame(value, val2) {
          return value == val2 ? "" : "Password not match!";
        },
        min: v => (v && v.length >= 6) || "at least 6 characters",
      }
    };
  },

  methods: {
    attemptReset() {
      this.loading = true;
      let data = this.$route.query;
      data.password = this.password;
      data.password_confirmation = this.password_confirmation;
      this.$store.dispatch(RESET_PASSWORD, {
          email: data.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
          token: data.token
        }).then(() => {
          this.$router.push("/login");          
        });
    }
  },
  computed: {
    ...mapGetters(["currentUser", "isAuthenticated"])
  },
  beforeMount() {
    let data = this.$route.query;
    if (!data.email || !data.token) {
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
.login-form {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.login-form-container {
  text-align: center;
  padding: 10px;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 10px;
}
.pull-right {
  float: right !important;
}
.forgot-password {
  margin-bottom: 0px;
  margin-top: 10px;
}
p {
  cursor: pointer;
}
p:hover {
  color: blue;
  font-size: 14.3px;
}
</style>
