<template>
  <v-card >
    <v-snackbar
      style="z-index:4000!important;position:fixed;"
      :top="true"
      v-model="flash.show"
      :color="color"
      :timeout="5000"
    >
    <label>{{ flash.message? flash.message+" ":"No Message! " }}
      <router-link v-if="flash.link" :style="flash.linkStyle"  :to="flash.url">
        <span v-on:click="flash.show=false,flash.resetAction()" >
          {{flash.link}}
        </span>
      </router-link>
    </label>
    <v-btn v-if="flash.button" dark flat :style="flash.actionStyle" @click="redir(flash.url),flash.resetAction()">
      {{flash.link}}
    </v-btn>
    <v-btn
      dark
      flat
      style="margin-left:0;margin-right:-20px;"
      @click="flash.show = false,flash.resetAction()"
    >
    <v-icon>close</v-icon>
    </v-btn>
    </v-snackbar>
  </v-card>
</template>

<style scoped>
</style>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState(["flash"]),
    color() {
      switch (this.flash.type) {
        case "danger":
          return "error";
        case "success":
          return "success";
        case "info":
          return "info";
        default:
          return null;
      }
    }
  }
};
</script>
