<template>
  <v-container>
    <div style="background-color:white;padding:20px;border-radius:20px;">
    <v-form class="login-form" >
      <label style="display:flex; font-size:19px"><b>{{title}}</b></label>
      <v-text-field
        v-model="email"
        :rules="[rules.required, rules.email]"
        label="E-mail"
      />
      <v-btn @click="attemptReset" color="primary" v-if="isReset">Set ulang</v-btn>
      <v-btn @click="attemptResend" color="primary" v-else >Kirim ulang</v-btn>
      <v-btn @click="$router.go(-1)" color="secondary" >Batal</v-btn>
    </v-form>
    </div>
  </v-container>
</template>

<script>
import { URL } from '@/common/config';
import { RESEND_VER_PASSWORD, RESEND_VER_EMAIL} from '@/store/actions.type';
import { mapState } from "vuex";
export default {
  name: "forget-password-page",
  props: ["isReset"],
  dependencies: ["api", "service"], // add the dependencies injection
  data() {
    return {
      msg: "Ini buat forget password",
      loading: null,
      email: null,
      rules: {
        email: value =>
          (value && value.includes("@") && value.includes(".")) ||
          "example@something.com",
        required: value => !!value || "Required.",
        min: v => (v && v.length >= 6) || "Min 6 characters",
        emailMatch: () => "The email and password you entered don't match"
      }
    };
  },
  computed: {
    ...mapState(["flash"]),
    title() {
      if (this.isReset) {
        return "Set ulang kata sandi";
      } else {
        return "Kirim ulang kode verifikasi";
      }
    },
    actionTitle() {
      if (this.isReset) {
        return "Set ulang";
      } else {
        return "Kirim ulang";
      }
    }
  },
  methods: {
    attemptReset() {
      this.$store.dispatch(RESEND_VER_PASSWORD,{
          email: this.email,
          url: URL+"/reset-password"
        }).then(() => {
          this.$router.push("/login");
        });
    },
    attemptResend() {
      this.$store.dispatch(RESEND_VER_EMAIL, {
          email: this.email,
          url: URL+"/verify"
        }).then(() => {
          this.loading = false;
          this.$router.push("/login");
        });
    }
  }
};
</script>
<style scoped>
.login-form {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.login-form-container {
  text-align: center;
  padding: 10px;
  width: 50%;
  background-color: white;
  box-shadow: 3px 3px 10px;
}
.pull-right {
  float: right !important;
}
.forgot-password {
  margin-bottom: 0px;
  margin-top: 10px;
}
</style>
