<template>
  <v-app id="inspire">
  <flashes/>
  <v-toolbar
  
      color="rgba(60,60,60,0.975)"
      dark
      fixed
      app
      clipped-right
      style="height:64px !important;z-index: 20;min-width:1150px"
    >
      <v-toolbar-title>
        <router-link to="/" style="text-decoration:none;">
        <v-btn disabled flat icon active-class to="/">
        <img style="height:50px;" id='logo' :src="require('@/assets/logo_badmin.png')"/>
        </v-btn>
        <h3 style="margin-left:10px;position:relative;top:5px;display:inline;color:white;font-size:1.25em;letter-spacing:5px;">BADMINTON</h3>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-layout align-center style="min-width:350px;max-width:350px;">
        <v-btn class="wider" color="orange darken-2" style="width:100px;height:45px;" @click="toggle = !toggle" >{{toggle?"PEOPLES":"EVENTS"}}</v-btn>
        <v-overflow-btn
          :items="toggle?users:events"
          class="custom-search"
          v-model="data"
          style="display:inline-block;padding-top:0px;height:45px; width:250px;position:relative;top:0;bottom:0;"
          :label="`Search ${toggle?'people':'event'}`"
          :item-text="toggle?'fullname':'name'"
          :return-object="true"
          editable
        ></v-overflow-btn>
        </v-layout>
        <template v-if="isAuthenticated">
          <v-btn class="wider" flat to="/event">Events</v-btn>
          <v-btn class="wider" flat to="/people">Peoples</v-btn>
          <v-btn class="wider" flat @click="logout">LOGOUT</v-btn>
          <v-btn class="wider" @click="$router.push('/profile')">{{currentUser.username}}</v-btn>
        </template>
        <template v-else>
          <v-btn class="wider" flat to="/login" >Login</v-btn>
          <v-btn class="wider" flat to="/signup" >Sign Up</v-btn>
        </template>
        <v-btn class="wider" flat to="/">HOME</v-btn>
      </v-toolbar-items>

    </v-toolbar>
    <v-content :style="'background-image: url(' + require('@/assets/back_signup.jpg') + ' );background-repeat:repeat;background-size: cover;background-position: 50% 50%;'">
      <v-container style="padding:0;" fluid fill-height>
        <v-layout justify-center align-center >
            <router-view/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.footer-content p {
  font-size: 13px;
  color: #ccc;
  text-align: left;
}
.footer-content h2 {
  margin: 20px 0;
  text-align: left;
}
.footer-content ul li {
  padding: 3px;
  text-align: left;
}
.footer-content ul li a {
  text-decoration: none;
  color: #ccc;
}
.footer-content ul li a:hover {
  color: white;
}
.footer-content ul {
  list-style: none;
  padding: 0;
}
.custom .v-btn__content {
  display: block;
  text-transform: none;
}
.custom-search .v-select__slot,
.custom-search .v-input__slot {
  height: 100%;
}
.custom-search .v-input__control {
  height: 100%;
}
.custom-search .v-input__slot {
  margin: 0;
}
.v-toolbar__content{
  height: 100% !important;
  padding-left: 24px  !important;
  padding-right: 0px !important;
}
.wider{
  letter-spacing: 2.5px;
}
iframe{
  display: none !important;
}
</style>

<script>
import { mapGetters } from "vuex";
import flashes from "./components/Flash";
import { LOGOUT } from "@/store/actions.type";
export default {
  data() {
    return {
      data: null,
      toggle: false
    };
  },
  watch:{
    data(val){
      this.$nextTick(()=>{
        if(val != null)
        if(this.toggle){
          this.$router.push("/people/"+val.id);
          val = null;
        } else {
          this.$router.push("/event/"+val.id);
          val = null;
        }
      })
    },
    toggle(val){
      this.$nextTick(()=>{
        this.data = null;
      })
    }
  },
  components: {
    flashes
  },
  computed: {
    ...mapGetters(["currentUser", "isAuthenticated",'events','users'])
  },
  methods: {
    logout() {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push("/");
      });
    }
  }
};
</script>
